body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(44, 30, 13);
}
#layered-square {
    box-shadow: 0 0 8px rgb(179, 173, 120);
    transform: translate(0, 15%);
    border-radius: 10px;
    width: 650px;
    padding: 40px 0px 40px 0px;
    background-color: rgb(216, 97, 92);
}
#controls-container {
    display: flex;
    align-items: center;
    gap: 5px;
}
label
{
    padding: 1em 2em 0 1em;
}
button {
    height: 35px;
}
#grid {
    display: grid;
    margin: auto;
    background-color: white;
    height: 600px;
    width: 600px;
}
.black-fill {
    background-color: black;
}
.lines {
    border: 1px solid;
}
