body {
    background: grey;
}
#layered-square {
    transform: translate(75%, 25%);
    width: 725px;
    height: 20px;
    border-radius: 10px;
    background-color: tan;
}
#controls-container{
    display: flex;
    gap: 5px;
}
#grid{
    position: fixed;
    background-color: white;
    display: grid;
    transform: translate(100%, 25%);
    height: 600px;
    width: 600px;
}
.black-fill {
    background-color: black;
}
.lines {
    border: 1px solid;
}
